footer {
    background-color: $color-primario-3;
    margin-top: 90px;
    padding: 60px 120px 60px 120px;

    h3 {
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: 10px;
    }

    ul {
        text-decoration: none;
        list-style: none;
        padding: 0;

        li {
            font-size: 18px;
            line-height: 24px
        }

        a {
            color: $color-secundario-2;
            list-style: none;
            text-decoration: none;

            &:hover {
                color: $color-secundario-4;
            }
        }

        p {
            :hover {
                color: $color-secundario-4;
            }
        }
    }

    .footer-contenedor {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }

    .derechos {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;

        img {
            width: 40px;
            height: auto;
            border-radius: 100px;
            margin-right: 15px;
            overflow: hidden;
        }
    }
}