//! Index

.avatar-container {
    display: flex;
    justify-content: space-evenly;
    margin: 120px 60px 0 60px;
    align-items: center;

    .avatar {
        width: 350px;
        height: 350px;
        border-radius: 30px;
        overflow: hidden;
        transform: translateY(0px);
        animation: float 6s ease-in-out infinite;

        img {
            width: 350px;
            height: 350px;
            overflow: hidden;
        }
    }
}

.presentacion {
    height: auto;
    padding: 60px;
    text-align: center;

    div {
        .parrafo-destacado-1 {
            font-size: 48px;
            color: $color-secundario-1;
        }

        h1 {
            margin-bottom: 30px;
        }

        .parrafo-destacado-2 {
            font-size: 24px;
            color: $color-secundario-1;
        }
    }

    div {
        .parrafo-destacado-3 {
            font-size: 18px;
            color: $color-secundario-2;
        }
    }
}

.sobre-mi {
    display: flex;
    justify-content: space-evenly;
    margin: 0 120px 60px 120px;

    div {
        p {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .sobre-mi-imagenes {
        display: flex;
        justify-content: space-evenly;

        img {
            width: 400px;
            height: 100%;
            margin-left: 60px;
            object-fit: cover;
            border-radius: 30px;
            box-shadow: $sombra-oscura;
            animation: reveal linear both;
            animation-timeline: view();
            animation-range: entry 15% cover 30%;
        }
    }
}

.perfil-profesional {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 30px 120px;
}

.container-perfil-profesional {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 60px 30px 60px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 30%;

    .forma-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
        border-radius: 30px;
        background-color: $color-terciario-2;
        padding: 30px;
        box-shadow: $sombra-oscura;

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-bottom: 16px;
            text-align: center;
        }

        img {
            width: 150px;
            height: auto;
            margin-bottom: 15px;
        }

        &:hover {
            transform: rotate(5deg);
            transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        }
    }

    .forma-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
        border-radius: 30px;
        background-color: $color-terciario-2;
        padding: 30px;
        box-shadow: $sombra-oscura;

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-bottom: 16px;
            text-align: center;
        }

        img {
            width: 150px;
            height: auto;
            margin-bottom: 15px;
        }

        &:hover {
            transform: scale(1.10);
            transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        }
    }

    .forma-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
        border-radius: 30px;
        background-color: $color-terciario-2;
        padding: 30px;
        box-shadow: $sombra-oscura;

        h4 {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
        }

        p {
            font-size: 16px;
            margin-bottom: 16px;
            text-align: center;
        }

        img {
            width: 150px;
            height: auto;
            margin-bottom: 15px;
        }

        &:hover {
            transform: rotate(-5deg);
            transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        }
    }
}

.conocimientos {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 30px 120px;

    .listado-conocimientos {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 15% cover 30%;

        .listado-contenido {
            align-items: center;
            flex-direction: column;
            padding-right: 5px;

            h4 {
                margin-bottom: 10px;
                text-align: center;
            }

            ul {
                padding: 0;

                li {
                    text-decoration: none;
                    list-style: none;
                    text-align: center;
                    color: $color-secundario-2;
                    line-height: 24px;
                    font-size: 18px;
                }
            }
        }
    }
}

.habilidades {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 30px 120px;

    .habilidades-contenedor {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 15% cover 30%;

        .habilidades-puntuales {
            p {
                display: inline-block;
                color: $color-secundario-2;
                background-color: $color-terciario-1;
                padding: 10px 20px 10px 20px;
                margin: 10px;
                border-radius: 15px;
                text-align: center;
                font-size: 16px;
                box-shadow: $sombra-oscura;

                &:hover {
                    color: $color-secundario-1;
                    background-color: $color-terciario-2;
                    transition: background-color 0.3s, color 0.3s;
                }
            }
        }
    }
}

.idiomas {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 30px 120px;

    .contenedores-idiomas {
        display: flex;
        justify-content: space-evenly;
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 15% cover 30%;

        .ingles {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 200px;
            border-radius: 30px;
            padding: 30px;
            margin: 60px;
            box-shadow: $sombra-oscura;
            transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
            background-color: $color-terciario-2;

            p {
                margin: 10px;
            }

            img {
                width: 25px;
                height: 25px;
                margin: 10px;
                overflow: hidden;
            }

            &:hover {
                transform: rotate(-5deg);
                transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;

                img {
                    transform: scale(1.5);
                    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
                }
            }
        }

        .español {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 400px;
            height: 200px;
            border-radius: 30px;
            padding: 30px;
            margin: 60px;
            box-shadow: $sombra-oscura;
            transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
            background-color: $color-terciario-2;

            img {
                width: 25px;
                height: 25px;
                margin: 10px;
                overflow: hidden;
            }

            p {
                margin: 10px;
            }

            &:hover {
                transform: rotate(5deg);
                transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;

                img {
                    transform: scale(1.5);
                    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
                }
            }
        }
    }
}

.herramientas {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 30px 120px;

    .logos {
        overflow: hidden;
        padding: 60px 0 0 0;
        background: $color-primario-2;
        white-space: nowrap;
        position: relative;

        &:hover .logos-slide {
            animation-play-state: paused;
        }

        .logos-slide {
            display: inline-block;
            animation: 30s slide infinite linear;

            img {
                height: 60px;
                margin: 0 30px;
            }
        }
    }
}

//! Index

//? Portfolio

.proyecto {
    display: flex;
    flex-direction: column;
    margin: 120px 120px 0 120px;

    h1 {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .proyecto-giani-intro {
        h2 {
            margin-top: 0;
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 15px;
        }
    }
}

.container-grid {
    margin: 30px 120px 60px 120px;

    .container-grid-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px 300px;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-areas:
            "logo-1 logo-2 logo-3"
            "logo-4 logo-5 logo-6";

        div {
            overflow: hidden;
            border-radius: 30px;
            background-color: $color-secundario-4;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        logo-1 {
            grid-area: logo-1;
        }

        logo-2 {
            grid-area: logo-2;
        }

        logo-3 {
            grid-area: logo-3;
        }

        logo-4 {
            grid-area: logo-4;
        }

        logo-5 {
            grid-area: logo-5;
        }

        logo-6 {
            grid-area: logo-6;
        }

        logo-7 {
            grid-area: logo-7;
        }

        logo-8 {
            grid-area: logo-8;
        }
    }
}

//? Portfolio

//! Perfil profesional

.contenedor {
    display: flex;
    flex-direction: column;

    h3 {
        margin-bottom: 30px;
    }

    h4 {
        margin-top: 30px;
    }
}

.actualidad {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;

    img {
        width: 15px;
        height: 15px;
    }

    p {
        font-size: 18px;
        opacity: 50%;
        margin: 0;
        padding: 15px;
    }
}

.experiencia-laboral {
    display: flex;
    flex-direction: column;
    margin: 120px 120px 0 120px;

    h1 {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.estudios {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 0 120px;

    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.curriculum-vitae {
    display: flex;
    flex-direction: column;
    margin: 60px 120px 30px 120px;
}

//! Perfil profesional

//? Servicios

.precios {
    font-size: 36px;
    color: $color-secundario-1;
}

.servicios {
    margin: 30px 120px 30px 120px;

    h1 {
        margin: 120px 60px 60px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        margin-top: 60px;
    }

    h4 {
        margin-top: 30px;
    }
}

.contenedor-cards {
    @include flex(flex, space-evenly);
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 30%;
    margin: 30px 120px 30px 120px;

    .cards {
        @extend %flex-column-center;
        width: 300px;
        height: 400px;
        border-radius: 30px;
        background-color: $color-terciario-2;
        padding: 30px;
        box-shadow: $sombra-oscura;

        h3 {
            text-align: center;
        }

        h4 {
            text-align: center;
        }

        p {
            margin-top: 15px;
            font-size: 16px;
        }

        img {
            top: 30px;
            width: 50px;
            height: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            animation: moveUp 3s ease-in-out infinite alternate;
        }
    }
}

//? Servicios

//! Contacto

.contacto {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 120px 60px 30px 60px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 120px 60px 120px;
    }
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 120px 30px 120px;
    align-items: top;
}

.formulario-contacto {
    margin: 30px;
    padding: none;

    label {
        display: block;
        margin-bottom: 15px;
        color: $color-secundario-2;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        background: $color-terciario-2;
        color: $color-secundario-2;
        font-size: 16px;
        border: 1px solid $color-primario-3;
        border-radius: 15px;

        &:focus {
            outline: none;
            border-color: transparent;
            box-shadow: none;
        }
    }

    input[type="submit"] {
        width: 100%;
        color: $color-secundario-2;
        padding: 16px 24px;
        font-size: 18px;
        line-height: 24px;
        background: $color-terciario-2;
        border: 1px solid $color-primario-3;
        border-radius: 30px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: 300ms ease-in-out;

        &:hover {
            background-color: $color-terciario-1;
        }
    }

    textarea {
        resize: none;
    }
}

//! Contacto