//? Tipografía

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//? Tipografía

//? Animaciones

// Animación - Avatar

@keyframes float {
    0% {
        box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5);
        transform: translatey(0px);
    }
}

// Animación - Servicios

@keyframes moveUp {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

// Animación - Foto Sobre mí - Contenedores

@keyframes reveal {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .8;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

// Animación - h2

@keyframes uncover {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// Slide

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

//? Animaciones

//! Reseat

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1 {
    color: $color-secundario-1;
    text-align: center;
    font-size: 64px;
}

h2 {
    color: $color-secundario-1;
    font-size: 48px;
    margin: 20px 0 20px 0;
    animation: uncover linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 60%;
}

h3 {
    color: $color-secundario-1;
    font-size: 32px;
}

h4 {
    color: $color-secundario-1;
    font-size: 24px;
}

h5 {
    color: $color-secundario-1;
    font-size: 21px;
}

p {
    color: $color-secundario-2;
    font-size: 18px;
    margin: 0;
}

body {
    background-color: $color-primario-2;
}

strong {
    color: $color-secundario-4;
    font-weight: 500;
}

hr {
    color: $color-secundario-4;
    border: solid 1px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    opacity: 0.1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

//! Reseat

//! Header Bootstrap

.collapse {
    img {
        width: 90px;
        height: auto;
        margin-left: 30px;
        overflow: hidden;
    }
}

.navbar-brand {
    font-family: "Poppins", sans-serif !important;
    color: $color-secundario-1 !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: $color-secundario-1 !important;
    font-weight: bold !important;
}

.navbar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
    background-color: $color-primario-1 !important;
    padding: 30px !important;
    --bs-navbar-brand-hover-color: $color-secundario-1 !important;
    --bs-navbar-hover-color: $color-secundario-1 !important;
    --bs-navbar-disabled-color: $color-secundario-1 !important;
    --bs-navbar-active-color: $color-secundario-1 !important;
}

.nav-link {
    display: block !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: normal !important;
    color: $color-secundario-2 !important;
}

.navbar-toggler {
    font-family: "Poppins", sans-serif !important;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 24px !important;
}

//! Header Bootstrap

//! Chat

.chat {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 900;
}

.chat img {
    width: 50px;
    height: 50px;
    z-index: 1000;

    &:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    }
}

//! Chat

//? Botones

.boton {
    color: $color-secundario-2;
    background-color: $color-terciario-2;
    border-radius: 30px;
    padding: 16px 24px;
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 30px 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;

    &:hover {
        background: $color-terciario-1;
        color: $color-secundario-1;
    }
}

.mas-informacion {
    color: $color-secundario-2;
    background-color: $color-terciario-1;
    border-radius: 30px;
    padding: 14px 18px;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0 30px 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;
    position: absolute;
    bottom: 0;

    &:hover {
        color: $color-secundario-1;
    }
}

//? Botones

//! Mixins

@mixin flex($flex, $justify) {
    display: $flex;
    justify-content: $justify;
}

//! Mixins

//? Extends

%flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//? Extends

//* Jerarquías de texto

.jerarquia-p1 {
    color: nth($destacados, 1); //Blanco
}

.jerarquia-p2 {
    color: nth($destacados, 2); //Verde
}

.jerarquia-p3 {
    color: nth($destacados, 3); //Amarillo
}

.jerarquia-p4 {
    color: nth($destacados, 4); //Anaranjado
}

//* Jerarquías de texto