//! Paleta de colores

// Me marie un poco con las variables pero me di cuenta ahora, luego reduzco todo a seis variables.

// Generales
$color-header: #0a0a0ae6;
$color-background: #0A0A0A;
$color-footer: #0D0D0D;

$color-navbar: #f5f5f5;
$color-titulos: #f5f5f5;
$color-parrafos: #acacac;
$color-parrafos-claro: #f5f5f5;

$color-parrafos-destacado-1: #f5f5f5;

// Boton
$color-boton-p: #acacac;
$color-boton-p-hover: #f5f5f5;
$color-boton-bg: #222224;
$color-boton-bg-hover: #333337;

$color-boton-br: #ffffff33;

$color-habilidades-bg: #333337;
$color-habilidades-hvr: #222224;

$color-cards: #222224;

//Párrafos destacados
$destacados: #f5f5f5, #7BC950, #F4AA05, #DC3201;

//! Paleta de colores

//? Sombras

$sombra-oscura: 0 25px 15px -15px rgba(0, 0, 0, 0.5);
$sombra-clara: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

//? Sombras