//! Paleta de colores

$color-footer: #0F0F0F;
$color-header: #0d0d0de6;
$color-background: #0D0D0D;
$color-contenedor: #111111;

$color-parrafos: #acacac;
$color-navbar: #f5f5f5;
$color-titulos: #f5f5f5;
$color-parrafos-destacados: #f5f5f5;

$color-boton-p: #f5f5f5;
$color-boton-bg: #ffffff1a;
$color-boton-br: #ffffff33;
$color-boton-hover: #ffffff33;

$color-cards: linear-gradient(to bottom, #333337, #222224);

//! Paleta de colores